# Игнорировать виртуальное окружение Python
venv/

# Игнорировать скомпилированные файлы Python
*.pyc

# Игнорировать временные файлы и кэши
*.log
*.cache

# Игнорировать файлы настроек IDE
.idea/
.vscode/

# Игнорировать скомпилированные файлы, если используется PyInstaller
dist/
build/

# Игнорировать временные и сгенерированные файлы
*.pdf
*.docx

# Игнорировать файлы, которые не должны попадать в репозиторий
secret_config.yaml
